.btn {
  border-radius: 3px;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  padding: 10px 20px;
  text-align: center;
  transition: all 0s;

  &:hover,
  &:focus {
    color: $white;
    text-decoration: none;
    transition: all $transition-sm;
  }

  &:active {
    transition: all 0s;
  }
}

.btn-primary {
  background-color: $brand-primary;
  color: $white;

  &:hover {
    background-color: darken($brand-primary, 5%);
  }

  &:active {
    background-color: darken($brand-primary, 15%);
  }
}

.btn-secondary {
  background-color: $brand-secondary;
  color: $white;

  &:hover {
    background-color: darken($brand-secondary, 5%);
  }

  &:active {
    background-color: darken($brand-secondary, 15%);
  }
}

.btn-lg {
  font-size: $font-size-medium;
  max-height: 40px;
  padding: 9px 24px;
}

.btn-block {
  display: block;
}

.btn-icon {
  height: auto;
  margin-right: 5px;
  vertical-align: baseline;
  width: 12px;
}
