.nav {
  align-items: center;
  background: rgba($white, 1);
  box-shadow: 0 2px 3px rgba($black, .1);
  display: block;
  justify-content: space-between;
  padding: 8px 4px 8px 13px;
  position: relative;
  width: 100%;

  @media (min-width: $media-breakpoint-md) {
    background: rgba($white, .8);
    display: flex;
    padding: 4px 4px 4px 13px;
    position: fixed;
  }
}

.nav-items-container {
  &.is-collapsed {
    display: none;

    @media (min-width: $media-breakpoint-md) {
      display: flex;
    }
  }

  &.is-showing {
    display: block;
  }
}

.nav-logo {
  > img {
    width: 41px;
  }
}

.nav-toggle {
  border: 0;
  display: block;
  padding: 5px;
  position: absolute;
  right: 7px;
  top: 8px;
  width: 30px;

  &:hover {
    cursor: pointer;
  }

  span {
    background-color: $gray-dark;
    display: block;
    height: 2px;
    width: 100%;

    + span {
      margin-top: 4px;
    }
  }

  @media (min-width: $media-breakpoint-md) {
    display: none;
  }
}

.nav-cta {
  display: none;

  @media (min-width: $media-breakpoint-md) {
    display: block;
  }
}
