.nav-items {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $media-breakpoint-md) {
    flex-direction: row;
  }
}

.nav-item {
  text-align: center;

  @media (min-width: $media-breakpoint-md) {
    text-align: left;
  }

  + .nav-item {
    @media (min-width: $media-breakpoint-md) {
      margin-left: 26px;
    }
  }
}

.nav-item__link {
  color: $gray-medium;
  display: block;
  font-size: $font-size-medium;
  font-weight: $font-weight-medium;
  padding: 8px 0;

  &:hover,
  &:focus {
    color: darken($gray-medium, 10%);
    text-decoration: none;
  }

  @media (min-width: $media-breakpoint-md) {
    margin-left: 26px;
    padding: 0;
  }
}
