.section-intro {
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $media-breakpoint-md) {
    flex-direction: row;
    min-height: 100%;
  }
}

.section-intro__copy {
  flex: 0 0 100%;
  padding: 20px;

  @media (min-width: $media-breakpoint-md) {
    flex: 0 0 50%;
    padding: 8% 6% 50px 10%;
  }
}

.section-intro__image {
  background: $brand-primary;
  background-image: url('../images/gradient.jpg');
  background-size: 100%;
  flex: 0 0 100%;

  @media (min-width: $media-breakpoint-md) {
    background-image: url('../images/stock-desktop.jpg');
    background-image: image-set(
      url('../images/stock-desktop.jpg') 1x,
      url('../images/stock-desktop@2x.jpg') 2x,
      url('../images/stock-desktop@3x.jpg') 3x
    );
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 0 0 50%;
  }

  img {
    height: auto;
    width: 100%;

    @media (min-width: $media-breakpoint-md) {
      display: none;
    }
  }
}

.section-intro__heading {
  color: $gray-dark;
  display: none;
  font-size: 48px;
  font-weight: $font-weight-bold;
  line-height: 1.33;
  margin-bottom: 34px;

  @media (min-width: $media-breakpoint-md) {
    display: block;
  }

  &.for-mobile {
    color: $white;
    display: block;
    font-size: 30px;
    margin: 0;
    padding: 40px 15px 0;

    @media (min-width: $media-breakpoint-md) {
      display: none;
    }
  }
}

.section-intro__subheading {
  color: $gray-medium;
  font-size: 18px;
  font-weight: $font-weight-medium;
  line-height: 1.36;
  margin-bottom: 32px;

  @media (min-width: $media-breakpoint-md) {
    font-size: 22px;
  }
}

.section-intro__list {
  color: $gray-medium;
  counter-reset: list-counter;
  line-height: 1.44;
  list-style: none;
  margin-bottom: 60px;
  padding-left: 35px;

  li {
    counter-increment: list-counter;
    font-size: $font-size-medium;
    position: relative;

    + li {
      margin-top: 20px;
    }

    @media (min-width: $media-breakpoint-md) {
      font-size: $font-size-large;
    }
  }

  li::before {
    align-items: center;
    background: $brand-primary;
    border-radius: 20px;
    color: $white;
    content: counter(list-counter);
    display: flex;
    font-size: $font-size-medium;
    font-weight: bold;
    height: 20px;
    justify-content: center;
    left: -35px;
    position: absolute;
    top: 5px;
    width: 20px;
  }
}

.section-intro__cta {
  margin-bottom: 20px;
}

.section-intro__sub {
  color: $gray-light;
  display: block;
  text-align: center;
}
