// Colours
$white:                   #fff;
$black:                   #000;
$gray-dark:               #222;
$gray-medium:             #637381;
$gray-light:              #d3d8dc;

$brand-primary:           #3a93f6;
$brand-secondary:         #8b55eb;

$body-bg:                 $white;
$body-color:              $gray-dark;

// Typography
$font-family-base:        'Gilroy', 'Roboto', sans-serif;
$font-size-base:          16px;
$font-size-medium:        14px;
$font-size-large:         18px;

$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500;
$font-weight-bold:        800;

$font-weight-base:        $font-weight-normal;
$line-height-base:        1.5;
$line-height-lg:          1.3;
$line-height-medium:      1.2;
$line-height-small:       .9;

// Links
$link-color:              $brand-primary;
$link-decoration:         none;
$link-hover-color:        $gray-dark;
$link-hover-decoration:   underline;

// Breakpoints
$media-breakpoint-sm:     576px;
$media-breakpoint-md:     768px;
$media-breakpoint-lg:     992px;
$media-breakpoint-xl:     1100px;
$media-breakpoint-xxl:    1450px;

// Transitions
$transition-sm:           .25s;

// General
$cursor-disabled:         not-allowed;
